<ion-header [translucent]="true" style="background-color: #0A49A7">
  <ion-toolbar style="background-color: #0A49A7">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/iniciar-sesion" style="color:  white"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-family: 'Arial', sans-serif;color:  white">
      Registro de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="background: linear-gradient(135deg, #333333, black);">
  <div class="form-container" style="max-width: 380px; margin: auto; padding: 25px; background-color: white; border-radius: 20px; ">
    <h2 style="text-align: center; color: #333; font-family: 'Arial', sans-serif; font-weight: 600; font-size: 24px;">Crea tu cuenta</h2>

    <form #registroForm="ngForm" (ngSubmit)="registrar()" novalidate>
      <!-- Nombre completo -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: #333;">Nombre completo</ion-label>
        <ion-input type="text" [(ngModel)]="estudiante.Nombre_completo" name="nombre" required></ion-input>
      </ion-item>

      <!-- RUT -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: #333;">RUT</ion-label>
        <ion-input type="text" [(ngModel)]="estudiante.Rut" name="rut" required pattern="^[0-9]+-[0-9kK]{1}$"></ion-input>
      </ion-item>

      <!-- Teléfono -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: #333;">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="estudiante.Telefono" name="telefono" required pattern="^[0-9]{11}$"></ion-input>
      </ion-item>

      <!-- Correo electrónico -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: #333;">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="estudiante.email" name="correo" required></ion-input>
      </ion-item>

      <!-- Carrera -->
      <ion-item class="custom-item" >
        <ion-label position="floating" style="color: #333;">Carrera</ion-label>
        <ion-select [(ngModel)]="estudiante.carrera" name="carrera" style="color: #333;" required>
          <ion-select-option  value="Ingeniería Civil">Ingeniería Civil</ion-select-option>
          <ion-select-option value="Diseño Gráfico">Diseño Gráfico</ion-select-option>
          <ion-select-option value="Técnico en Programación">Técnico en Programación</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: #333;">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="estudiante.password" name="password" required minlength="8"></ion-input>
      </ion-item>

      <!-- Botón de registro -->
      <ion-button expand="block" type="submit" [disabled]="registroForm.invalid" class="custom-button">
        Registrar
      </ion-button>

      <!-- Botón de volver -->
      <ion-button expand="block" [routerLink]="['/iniciar-sesion']" class="custom-button">
        Volver al inicio
      </ion-button>
    </form>
  </div>
</ion-content>
