<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/iniciar-sesion" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="--background: #ffffff;">
  <div class="form-container">
    <h2 class="centered-title" style="color: black;">Crea tu cuenta de Estudiante</h2>

    <form #registroForm="ngForm" (ngSubmit)="registrar()" novalidate>
      <!-- Nombre completo -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">Nombre completo</ion-label>
        <ion-input type="text" [(ngModel)]="estudiante.Nombre_completo" name="nombre" required></ion-input>
        <div *ngIf="registroForm.submitted && !registroForm.controls['nombre']?.valid" class="error-message">
          <p style="color: black;">El nombre completo es obligatorio.</p>
        </div>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">RUT</ion-label>
        <ion-input type="number" [(ngModel)]="estudiante.Rut" name="rut" required maxlength="10" (ionInput)="validarRUT($event)"></ion-input>
        <ion-note style="color: black;" slot="error" *ngIf="registroForm.controls['rut']?.invalid && registroForm.controls['rut']?.touched" color="danger">
          El RUT es obligatorio y debe tener un formato válido.
        </ion-note>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="estudiante.Telefono" name="telefono" required (ionInput)="validarTelefono($event)" maxlength="11"></ion-input>
        <ion-note style="color: black;" slot="error" *ngIf="registroForm.controls['telefono']?.invalid && registroForm.controls['telefono']?.touched" color="danger">
          El teléfono debe tener el prefijo 569 y 8 dígitos adicionales.
        </ion-note>
      </ion-item>


      <!-- Correo electrónico -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="estudiante.email" name="correo" required></ion-input>
        <div *ngIf="registroForm.submitted && !registroForm.controls['correo']?.valid" class="error-message">
          <p style="color: black;">El correo es obligatorio y debe ser válido.</p>
        </div>
      </ion-item>

      <!-- Carrera -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">Carrera</ion-label>
        <ion-select style="color: black;" [(ngModel)]="estudiante.carrera" name="carrera" required>
          <ion-select-option value="Ingeniería Civil">Ingeniería Civil</ion-select-option>
          <ion-select-option value="Diseño Gráfico">Diseño Gráfico</ion-select-option>
          <ion-select-option value="Técnico en Programación">Técnico en Programación</ion-select-option>
        </ion-select>
        <div *ngIf="registroForm.submitted && !registroForm.controls['carrera']?.valid" class="error-message">
          <p style="color: black;">La carrera es obligatoria.</p>
        </div>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="custom-item">
        <ion-label position="floating" style="color: black;">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="estudiante.password" name="password" required minlength="8"></ion-input>
        <div *ngIf="registroForm.submitted && !registroForm.controls['password']?.valid" class="error-message">
          <p style="color: black;">La contraseña es obligatoria y debe tener al menos 8 caracteres.</p>
        </div>
      </ion-item>

      <!-- Botón de registro -->
      <ion-button expand="block" type="submit"  class="custom-button">
        Registrar
      </ion-button>

      <!-- Botón de volver -->
      <ion-button expand="block" [routerLink]="['/iniciar-sesion']" class="custom-button">
        Volver al inicio
      </ion-button>
    </form>
  </div>
</ion-content>
<ion-footer collapse="fade" class="footer">
  <p>Síguenos en nuestras redes sociales:</p>
  <div class="social-icons">
    <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
    <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
    <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
  </div>
  <p>&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
</ion-footer>
