<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/iniciar-sesion"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight:500">Registro Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!--Logo PuntoDuoc-->  
    <div class="logo-style">PuntoDuoc</div>

    <!--Formulario-->
    <form #registroForm="ngForm" (ngSubmit)="registrar()" novalidate class="ion-padding">

      <h1>Crea tu cuenta</h1>

      <!--Nombre completo-->
      <div class="mb-3">
        <ion-item>
          <ion-input type="text" label="Nombre completo" labelPlacement="floating" [(ngModel)]="estudiante.Nombre_completo" name="nombre" placeholder="Ingrese nombre" required></ion-input>
        </ion-item>
        <!-- --error handlingOK-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['nombre']?.invalid"><!-- color="danger" -->
          Campo obligatorio, input inválido.
        </ion-note>
      </div>


      <!--Rut-->
      <div class="mb-3">
        <ion-item>
          <ion-input type="number" label="RUT" labelPlacement="floating" [(ngModel)]="estudiante.Rut" name="rut" maxlength="10" (ionInput)="validarRUT($event)" required></ion-input>
        </ion-item>
        <!-- --error handling-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['rut']?.invalid">
          Campo obligatorio, input inválido.
        </ion-note>
      </div>


      <!--Teléfono-->
      <div class="mb-3">
        <ion-item>
          <ion-input type="tel" label="Teléfono" labelPlacement="floating" [(ngModel)]="estudiante.Telefono" name="telefono" (ionInput)="validarTelefono($event)" maxlength="11" required></ion-input>
        </ion-item>
        <!-- --error handling-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['telefono']?.invalid">
          El teléfono debe tener el prefijo 569 y 8 dígitos adicionales.
        </ion-note>
      </div>

      <!-- Correo electrónico -->
      <div class="mb-3">
        <ion-item>
          <ion-input type="email" label="Correo" labelPlacement="floating" [(ngModel)]="estudiante.email" name="correo" required></ion-input>
        </ion-item>
        <!-- --error handling-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['correo']?.invalid">
          Campo obligatorio, input inválido.
        </ion-note>
      </div>
    

      <!--Carrera-->
      <div class="mb-3">
        <ion-item>
          <ion-select label="Carrera" label-placement="floating" [(ngModel)]="estudiante.carrera" name="carrera" required>
            <ion-select-option disabled="true" value="Informática y Telecomunicaciones">Informática y Telecomunicaciones</ion-select-option>
            <ion-select-option value="Analista Programador">Analista Programador</ion-select-option>
            <ion-select-option value="Analista Programador Computacional">Analista Programador Computacional</ion-select-option>
            <ion-select-option value="Desarrollo de Aplicaciones">Desarrollo de Aplicaciones</ion-select-option>
            <ion-select-option value="Ingeniería en Desarrollo de Software">Ingeniería en Desarrollo de Software</ion-select-option>
            <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
            <ion-select-option value="Ingeniería en Infraestructura Tecnológica">Ingeniería en Infraestructura Tecnológica</ion-select-option>
            <ion-select-option value="Ingeniería en Redes y Telecomunicaciones">Ingeniería en Redes y Telecomunicaciones</ion-select-option>
            <ion-select-option value="Técnico en Redes y Telecomunicaciones">Técnico en Redes y Telecomunicaciones</ion-select-option>
            <!--...agregar más...-->

          </ion-select>
        </ion-item>
        <!-- --error handling-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['carrera']?.invalid">
          Seleccione una opción.
        </ion-note>
      </div>

      
      <!-- Contraseña -->
      <div class="mb-3">
        <ion-item>
          <ion-input type="password" label="Contraseña" labelPlacement="floating" [(ngModel)]="estudiante.password" name="password" minlength="8" required></ion-input>
        </ion-item>
        <!-- --error handling-- -->
        <ion-note *ngIf="registroForm.submitted && registroForm.controls['password']?.invalid">
          Campo obligatorio, debe tener al menos 8 caracteres.
        </ion-note>
      </div>


      <!-- Botón de registro -->
      <div class="mt-4 mb-2 px-3">
        <ion-button expand="block" type="submit" color="primary">
          Registrar
        </ion-button>
      </div>

    </form>
  </div>



  <!--Contacto-->
  <div>
    <img src="../../assets/svg/layered-waves-haikei-reverse.svg" alt="Logo Duoc" style="padding:0; margin:0; width:100%;">

    <div style="text-align:center; background:#0a49a8; outline:3px solid #0a49a8;">

      <div style="padding: 1rem; color: #fff;">
        <p class="p-0 m-0">Síguenos en nuestras redes sociales:</p>

        <ion-grid class="w-75">
          <ion-row class="ion-justify-content-evenly p-0 my-2">
            <ion-col>
              <div><a href="https://www.facebook.com/DuocUC" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-facebook"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.instagram.com/duocuc_cl" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-instagram"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://x.com/duocuc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-x"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.youtube.com/DuocUCvideos" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-youtube"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.flickr.com/photos/duocuc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-flickr"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.linkedin.com/school/duoc-uc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-linkedin"></ion-icon></a></div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p style="padding:0; margin:0;">&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
      </div>

    </div>

  </div>
</ion-content>