<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inicio"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" [routerLink]="['/perfil-usuario']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pull to Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Suelta para refrescar"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="eventosInscritos && eventosInscritos.length > 0; else noEventos">
    <ion-item *ngFor="let evento of eventosInscritos">
      <ion-thumbnail slot="start">
        <img [src]="evento.imagen" alt="{{ evento.titulo }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ evento.titulo }}</h2>
        <p><strong>Fecha:</strong> {{ evento.fecha | date:'medium' }}</p>
        <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
        <p><strong>Tipo:</strong> {{ evento.tipo }}</p>
        <p><strong>Status:</strong> Estás inscrito a este evento.</p> <!-- Mensaje de inscripción -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay eventos inscritos -->
  <ng-template #noEventos>
    <ion-item>
      <ion-label>
        No tienes eventos inscritos.
      </ion-label>
    </ion-item>
  </ng-template>

  <!-- Spinner de Carga -->
  <ng-template #cargando>
    <div class="ion-padding" style="text-align: center;">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando historial de eventos...</p>
    </div>
  </ng-template>
</ion-content>
