
ion-content {
  --background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.custom-header {
  position: relative;
  z-index: 10; /* Asegura que el header esté siempre al frente */
}

.custom-toolbar {
  height: 120px; /* Aumenta la altura del toolbar */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-bottom-left-radius: 50px; /* Bordes redondeados */
  border-bottom-right-radius: 50px;
  background-color: black;
  --background: transparent;
}

.custom-toolbar ion-title {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Texto en blanco */
  text-align: center;
}

/* Para crear una curva en el borde inferior */
.custom-header::after {
  position: absolute;
  bottom: -30px; /* Ajusta la altura de la curva */
  left: 0;
  width: 100%;
  height: 60px; /* Altura de la curva */
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}


/* Ajustes del contenido */
.content-center {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la pantalla */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.toast-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: center;
  z-index: 100;
  width: 80%;
  max-width: 300px;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.custom-item {
  --background: #f2f2f2;
  --border-radius: 10px;
  margin-bottom: 15px;

  --border-width: 0px; /* Quita la línea inferior */
  --inner-border-width: 0px; /* Quita cualquier borde interno */
}

.custom-button {
  --border-radius: 8px;
  --background: #0a49a7;
  color: white;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #084a9a;
}

.forgot-password-link {
  color: #0a49a7;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}

.social-icon {
  font-size: 24px;
  color: #0a49a7;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
.remember-me-label {
  color: #0A49A7;
  margin-left: 7px; /* Ajusta este valor según el espacio que desees */
}
