.background-svg {
  background: #000;
  background-image: url('../../assets/svg/subtle-prism.svg');
  background-position: right;
  object-fit: cover;
}

ion-checkbox {
  --size: 1.25rem;
  --checkbox-background-checked: #336dcf;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #0a49a8;
}