<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de retroceso y botón para abrir el menú -->
    <ion-title>Iniciar sesion</ion-title>
    <ion-buttons slot="end">
      <!-- Botón para abrir el menú -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="iniciarSesion()" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required email>
        <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="text-danger">
          Ingresa un correo electrónico válido.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="password" required minlength="8" maxlength="20">
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="text-danger">
          La contraseña debe tener entre 8 y 20 caracteres.
        </div>
      </div>
      <!-- Recordar contraseña automáticamente -->
      <div class="mb-3 remember-me">
        <ion-checkbox slot="start" [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
        <label for="rememberMe">Recordar contraseña automáticamente</label>
      </div>
      <!-- Recordar contraseña olvidada -->
      <div class="forgot-password">
        <a [routerLink]="['/recuperar-contraseña']">¿Olvidaste tu contraseña?</a>
      </div>
      <!-- Botones -->
      <div class="button-group">
        <ion-button expand="block" color="primary" [disabled]="loginForm.invalid" type="submit">Iniciar sesión</ion-button>
        <ion-button expand="block" color="secondary" [routerLink]="['/registrar-usuarios']">Registrar cuenta</ion-button>
        <ion-button expand="block" color="secondary">Modo invitado</ion-button>
      </div>
      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="text-danger">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</ion-content>




