<ion-header>
  <ion-toolbar style="background-color: black;">
    <ion-title style="color: #666; font-size: 1.5rem; font-weight: 600;">Perfil del Gestor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="usuarioVentas" style="max-width: 380px; margin: auto; padding: 25px; background-color: white; border-radius: 20px;" class="form-container">
    <div class="header-container">
      <h1 style="color: black;">Información personal</h1>
      <div class="icon-container">
        <ion-icon style="color: black;" *ngIf="!isEditing" name="create-outline" (click)="editProfile()"></ion-icon>
        <ion-icon style="color: black;" *ngIf="isEditing" name="checkmark-outline" (click)="saveProfile()"></ion-icon>
        <ion-icon style="color: black;" *ngIf="isEditing" name="close-outline" (click)="cancelEdit()"></ion-icon>
      </div>
    </div>
    <div class="profile-container centered-profile">
      <div class="profile-image">
        <img *ngIf="profileImageUrl" [src]="profileImageUrl"  />
        <ion-icon *ngIf="!profileImageUrl" name="person-circle-outline" class="default-icon"></ion-icon>

        <div class="upload-overlay" [class.hidden]="!isEditing">
          <ion-icon name="camera-outline"></ion-icon>
          <input
            type="file"
            accept="image/*"
            (change)="uploadProfileImage($event)"
            hidden
            id="fileInput"
          />
          <label for="fileInput" class="upload-label"></label>
        </div>
      </div>
    </div>
    <br>
    <form>
      <!-- Detalles del perfil -->
      <ion-item style="--background: transparent; margin-bottom: 12px;">
        <ion-label position="stacked" style="font-size: 1rem; color: #666;">Nombre Completo</ion-label>
        <p *ngIf="!isEditing" style="margin: 0; font-size: 1rem; color: #000;">{{ usuarioVentas.nombre_completo }}</p>
        <ion-input *ngIf="isEditing" [(ngModel)]="tempNombreCompleto" [placeholder]="usuarioVentas.nombre_completo" [ngModelOptions]="{ standalone: true }" style="font-size: 1rem; color: #000;"></ion-input>
      </ion-item>

      <ion-item style="--background: transparent; margin-bottom: 12px;">
        <ion-label position="stacked" style="font-size: 1rem; color: #666;">Correo Electrónico</ion-label>
        <p style="margin: 0; font-size: 1rem; color: #000;">{{ usuarioVentas.email }}</p>
      </ion-item>

      <ion-item style="--background: transparent; margin-bottom: 12px;">
        <ion-label position="stacked" style="font-size: 1rem; color: #666;">RUT</ion-label>
        <p *ngIf="!isEditing" style="margin: 0; font-size: 1rem; color: #000;">{{ usuarioVentas.rut }}</p>
        <ion-input *ngIf="isEditing" [(ngModel)]="tempRut" [placeholder]="usuarioVentas.rut" [ngModelOptions]="{ standalone: true }" style="font-size: 1rem; color: #000;"></ion-input>
      </ion-item>

    </form>
  </div>
</ion-content>
<app-tab-bar></app-tab-bar>
