<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-title style="color: white;">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="errorMessage" class="error-card">
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="usuarioVentas" style="max-width: 380px; margin: auto; padding: 25px; background-color: white; border-radius: 20px;" class="form-container">
    <div class="header-container">
      <h1>Información personal</h1>
      <div class="icon-container">
        <ion-icon *ngIf="!isEditing" name="create-outline" (click)="editProfile()"></ion-icon>
        <ion-icon *ngIf="isEditing" name="checkmark-outline" (click)="saveProfile()"></ion-icon>
        <ion-icon *ngIf="isEditing" name="close-outline" (click)="cancelEdit()"></ion-icon>
      </div>
    </div>
    <div class="profile-container centered-profile">
      <div class="profile-image">
        <img *ngIf="profileImageUrl" [src]="profileImageUrl"  />
        <ion-icon *ngIf="!profileImageUrl" name="person-circle-outline" class="default-icon"></ion-icon>

        <div class="upload-overlay" [class.hidden]="!isEditing">
          <ion-icon name="camera-outline"></ion-icon>
          <input
            type="file"
            accept="image/*"
            (change)="uploadProfileImage($event)"
            hidden
            id="fileInput"
          />
          <label for="fileInput" class="upload-label"></label>
        </div>
      </div>
    </div>
    <br>
    <form>
      <!-- Nombre Completo -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Nombre Completo</h2>
            <p *ngIf="!isEditing">{{ usuarioVentas.nombre_completo }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempNombreCompleto" [placeholder]="usuarioVentas.nombre_completo" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <!-- Correo Electrónico -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Correo Electrónico</h2>
            <p>{{ usuarioVentas.email }}</p>
          </ion-label>
        </ion-item>
      </div>

      <!-- RUT -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">RUT</h2>
            <p *ngIf="!isEditing">{{ usuarioVentas.rut }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempRut" [placeholder]="usuarioVentas.rut" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>
    </form>
  </div>
</ion-content>
<app-tab-bar></app-tab-bar>
