<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" *ngIf="isStudent">
      <!--Icon version (not reviewed)-->
      <ion-button (click)="openMissionsModal()">
        <ion-icon slot="icon-only" name="ribbon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-title-custom">PuntoDuoc</ion-title>

    <ion-buttons slot="primary">
        <ion-button [routerLink]="['/notifications']" class="w-auto">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon><!--Ícono notificaciones-->
          <ion-badge *ngIf="unreadNotificationsCount > 0" color="danger">{{ unreadNotificationsCount }}</ion-badge><!--Badge nro de notificaciones-->
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!--Barra Búsqueda-->
      <ion-col>

        <ion-searchbar [(ngModel)]="searchText"
          (ionInput)="filterEvents()"
          show-clear-button="always"
          animated="true"
          color="light"
          placeholder="Buscar eventos"
          class="custom-search-bar">
        </ion-searchbar>
      </ion-col>

      <!--Botón Filtros-->
      <ion-col size="auto">
        <ion-button (click)="openSedeSelect()" color="light">
          <ion-icon name="options-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-select #sedeSelect style="display: none;" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Seleccionar Sede" [(ngModel)]="selectedSede" (ionChange)="filterEvents()">
    <ion-select-option value="all">Todas las sedes</ion-select-option>
    <ion-select-option value="Duoc Alameda">Duoc Alameda</ion-select-option>
    <ion-select-option value="Duoc Antonio Varas">Duoc Antonio Varas</ion-select-option>
    <ion-select-option value="Duoc Maipú">Duoc Maipú</ion-select-option>
    <ion-select-option value="Duoc Plaza Oeste">Duoc Plaza Oeste</ion-select-option>
    <ion-select-option value="Duoc Puente Alto">Duoc Puente Alto</ion-select-option>
    <ion-select-option value="Duoc San Bernardo">Duoc San Bernardo</ion-select-option>
    <ion-select-option value="Duoc San Joaquín">Duoc San Joaquín</ion-select-option>
    <ion-select-option value="Duoc Plaza Vespucio">Duoc Plaza Vespucio</ion-select-option>
    <ion-select-option value="Duoc Viña del Mar">Duoc Viña del Mar</ion-select-option>
    <ion-select-option value="Duoc Valparaíso">Duoc Valparaíso</ion-select-option>
    <ion-select-option value="Duoc Melipilla">Duoc Melipilla</ion-select-option>
    <ion-select-option value="Duoc Renca">Duoc Renca</ion-select-option>
    <ion-select-option value="Duoc Padre Alonso de Ovalle">Duoc Padre Alonso de Ovalle</ion-select-option>
    <ion-select-option value="Duoc Concepción">Duoc Concepción</ion-select-option>
    <ion-select-option value="Duoc San Andrés de Concepción">Duoc San Andrés de Concepción</ion-select-option>
    <ion-select-option value="Duoc Villarrica">Duoc Villarrica</ion-select-option>
  </ion-select>



  <!--------------->
  <h2 class="ion-padding pb-0">Eventos más populares</h2>
  <!--------------->

  <swiper-container
    [slidesPerView]="1.2"
    [spaceBetween]="5"
    [centeredSlides]="true"
    grid-rows="1"
    *ngIf="popularEvents.length > 0"
  >
    <swiper-slide *ngFor="let event of popularEvents" (click)="goToEventDetails(event)" style="height:auto; overflow:visible;" class="pb-4">
      <ion-card style="height:100%;">
        <!--Imagen de evento-->
        <img alt="Imagen del evento" [src]="event.imagen" class="event-image" loading="lazy"/>

        <!-- Icono de estrella para marcar como favorito -->
        <ion-button shape="round" color="light" (click)="toggleFavorite(event); $event.stopPropagation()" class="card-favoritos">
          <ion-icon name="star" slot="icon-only" [style.color]="event.isFavorite ? '#FFD700' : 'gray'"></ion-icon>
        </ion-button>

        <!--Sede evento (badge)-->
        <ion-badge color="warning" style="position: absolute; top: 0.5rem; left: 0.5rem;">{{ event.sede }}</ion-badge>

        <ion-card-header class="pb-2">
          <!--Título de evento-->
          <ion-card-title style="font-weight: 500; font-size:medium">{{ event.titulo }}</ion-card-title>

          <!--Fecha del evento-->
          <ion-card-subtitle style="font-weight: 300;"><b>Inicio:</b> {{ transformarFecha(event.fecha) | date: 'dd-MM-yyyy' }}, {{ transformarFecha(event.fecha) | date: 'h:mm a' }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="pb-0">
          <!--Inscritos respecto a Total-->
          <p style="font-weight: 300;"><b>Inscritos: {{ event.inscritos }}</b> de <b>{{ event.inscritos + event.Cupos }}</b></p>

          <!--Descripción-->
          <!--<p *ngIf="event.show">{{ event.descripcion }}</p>-->

          <!--Barra progreso inscritos-->
          <ion-progress-bar [value]="(event.inscritos + event.Cupos > 0) ? (event.inscritos / (event.inscritos + event.Cupos)) : 0" color="secondary"></ion-progress-bar>

          <!--Mensajes [verificado], [inscrito], [en lista de espera]-->
          <div class="text-center mt-3" *ngIf="(event.estaInscrito && event.verificado) || (event.estaInscrito && !event.verificado) || (event.enListaEspera)">
            <ion-badge color="success" class="ion-badge-custom" *ngIf="event.estaInscrito && event.verificado">¡Estás verificado en este evento!</ion-badge>
            <ion-badge class="button-color ion-badge-custom"    *ngIf="event.estaInscrito && !event.verificado">¡Ya estás inscrito en este evento!</ion-badge>
            <ion-badge color="medium" class="ion-badge-custom"  *ngIf="event.enListaEspera">¡Ya estás en la lista de espera!</ion-badge>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <!--Si no hay eventos populares disponibles-->
  <div *ngIf="popularEvents.length === 0" class="ion-padding text-center">
    <p>No hay eventos populares disponibles.</p>
  </div>

  <!--------------->
  <h2 class="ion-padding">Explora categorías</h2>
  <!--------------->

  <swiper-container
  [slidesPerView]="2.4"
  [spaceBetween]="10"
  [freeMode]="true"
>
  <swiper-slide *ngFor="let category of getCategories()" (click)="goToCategoryEvents(category.name)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-avatar class="mx-auto mb-2" style="height: 6rem; width: 6rem;">
              <img [src]="category.image" alt="{{ category.name }}" loading="lazy">
            </ion-avatar>
            <p style="font-weight: 500; font-size:small">{{ category.name }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </swiper-slide>
</swiper-container>


  <!--------------->
  <h2 class="ion-padding pb-0">Eventos próximos</h2>
  <!--------------->

  <!--Escoger período de tiempo-->
  <ion-segment [scrollable]="true" color="secondary">
    <ion-segment-button *ngFor="let segment of segments" (click)="onSegmentChange(segment.value)" [value]="segment.value" [checked]="selectedSegment === segment.value">
      <ion-label [ngStyle]="{'color': selectedSegment === segment.value ? '#0A49A7' : 'gray'}" style="text-transform: none; font-weight: 400;">{{ segment.label }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--Swiper eventos por período seleccionado-->
  <swiper-container
    [slidesPerView]="1.2"
    [spaceBetween]="5"
    [centeredSlides]="true"
    grid-rows="1"
    *ngIf="!loading && segmentFilteredEvents.length > 0"
    class="swiper-container"
  >
    <swiper-slide *ngFor="let event of segmentFilteredEvents" (click)="goToEventDetails(event)" style="height:auto; overflow:visible;" class="pb-4">
      <ion-card style="height:100%;">
        <!--Imagen de evento-->
        <img alt="Imagen del evento" [src]="event.imagen" class="event-image" loading="lazy"/>

        <!-- Icono de estrella para marcar como favorito -->
        <ion-button shape="round" color="light" (click)="toggleFavorite(event); $event.stopPropagation()" class="card-favoritos">
          <ion-icon name="star" slot="icon-only" [style.color]="event.isFavorite ? '#FFD700' : 'gray'"></ion-icon>
        </ion-button>

        <!--Sede evento (badge)-->
        <ion-badge color="warning" style="position: absolute; top: 0.5rem; left: 0.5rem;">{{ event.sede }}</ion-badge>

        <ion-card-header class="pb-2">
          <!--Título de evento-->
          <ion-card-title style="font-weight: 500; font-size:medium">{{ event.titulo }}</ion-card-title>

          <!--Fecha del evento-->
          <ion-card-subtitle style="font-weight: 300;"><b>Inicio:</b> {{ transformarFecha(event.fecha) | date: 'dd-MM-yyyy' }}, {{ transformarFecha(event.fecha) | date: 'h:mm a' }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="pb-0">
          <!--Inscritos respecto a Total-->
          <p style="font-weight: 300;"><b>Inscritos: {{ event.inscritos }}</b> de <b>{{ event.inscritos + event.Cupos }}</b></p>

          <!--Descripción-->
          <!--<p *ngIf="event.show">{{ event.descripcion }}</p>-->

          <!--Barra progreso inscritos-->
          <ion-progress-bar [value]="(event.inscritos + event.Cupos > 0) ? (event.inscritos / (event.inscritos + event.Cupos)) : 0" color="secondary"></ion-progress-bar>

          <!--Mensajes [verificado], [inscrito], [en lista de espera]-->
          <div class="text-center mt-3" *ngIf="(event.estaInscrito && event.verificado) || (event.estaInscrito && !event.verificado) || (event.enListaEspera)">
            <ion-badge color="success" class="ion-badge-custom" *ngIf="event.estaInscrito && event.verificado">¡Estás verificado en este evento!</ion-badge>
            <ion-badge class="button-color ion-badge-custom"    *ngIf="event.estaInscrito && !event.verificado">¡Ya estás inscrito en este evento!</ion-badge>
            <ion-badge color="medium" class="ion-badge-custom"  *ngIf="event.enListaEspera">¡Ya estás en la lista de espera!</ion-badge>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <!--Si no hay eventos populares disponibles-->
  <div *ngIf="segmentFilteredEvents.length === 0" class="ion-padding text-center">
    <p>No hay eventos agendados para este período.</p>
  </div>


  <!--------------->
  <h2 class="ion-padding pb-0">Eventos recientes</h2>
  <!--------------->

  <ion-grid *ngIf="recentEvents.length > 0" class="pt-0">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let event of recentEvents" (click)="goToEventDetails(event)">
        <ion-card>
          <!--Imagen de evento-->
          <img alt="Imagen del evento" [src]="event.imagen" class="event-image" loading="lazy"/>

          <!-- Icono de estrella para marcar como favorito -->
          <ion-button shape="round" color="light" (click)="toggleFavorite(event); $event.stopPropagation()" class="card-favoritos">
            <ion-icon name="star" slot="icon-only" [style.color]="event.isFavorite ? '#FFD700' : 'gray'"></ion-icon>
          </ion-button>

          <!--Sede evento (badge)-->
          <ion-badge color="warning" style="position: absolute; top: 0.5rem; left: 0.5rem;">{{ event.sede }}</ion-badge>

          <ion-card-header class="pb-2">
            <!--Título de evento-->
            <ion-card-title style="font-weight: 500; font-size:medium">{{ event.titulo }}</ion-card-title>

            <!--Fecha del evento-->
            <ion-card-subtitle style="font-weight: 300;"><b>Inicio:</b> {{ transformarFecha(event.fecha) | date: 'dd-MM-yyyy' }}, {{ transformarFecha(event.fecha) | date: 'h:mm a' }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <!--Inscritos respecto a Total-->
            <p style="font-weight: 300;"><b>Inscritos: {{ event.inscritos }}</b> de <b>{{ event.inscritos + event.Cupos }}</b></p>

            <!--Descripción-->
            <!--<p *ngIf="event.show">{{ event.descripcion }}</p>-->

            <!--Barra progreso inscritos-->
            <ion-progress-bar [value]="(event.inscritos + event.Cupos > 0) ? (event.inscritos / (event.inscritos + event.Cupos)) : 0" color="secondary"></ion-progress-bar>

            <!--Mensajes [verificado], [inscrito], [en lista de espera]-->
            <div class="text-center mt-3" *ngIf="(event.estaInscrito && event.verificado) || (event.estaInscrito && !event.verificado) || (event.enListaEspera)">
              <ion-badge color="success" class="ion-badge-custom" *ngIf="event.estaInscrito && event.verificado">¡Estás verificado en este evento!</ion-badge>
              <ion-badge class="button-color ion-badge-custom"    *ngIf="event.estaInscrito && !event.verificado">¡Ya estás inscrito en este evento!</ion-badge>
              <ion-badge color="medium" class="ion-badge-custom"  *ngIf="event.enListaEspera">¡Ya estás en la lista de espera!</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Si no hay eventos recientes disponibles-->
  <div *ngIf="recentEvents.length === 0" class="ion-padding text-center">
    <p>No hay eventos recientes.</p>
  </div>




  <!--Cargando-->
  <div *ngIf="loading" class="ion-padding text-center">
    <ion-spinner name="crescent" color="black"></ion-spinner>
    <p>Cargando...</p>
  </div>



  <h2 class="ion-padding pb-0">Eventos finalizados</h2>

  <!-- Grid de eventos terminados -->
  <ion-grid *ngIf="eventsTerminados.length > 0" class="pt-0">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let event of eventsTerminados" (click)="goToEventDetails(event)">
        <ion-card>
          <ion-grid>
            <ion-row class="ion-align-items-stretch">
              <!-- Imagen del evento -->
              <ion-col size="3" style="aspect-ratio: 1 / 1;">
                <img alt="Imagen del evento" [src]="event.imagen" class="event-image-finished" loading="lazy" />
                <!-- Botón de favorito -->
                <ion-button shape="round" color="light" (click)="toggleFavorite(event); $event.stopPropagation()" class="card-favoritos">
                  <ion-icon name="star" slot="icon-only" [style.color]="event.isFavorite ? '#FFD700' : 'gray'"></ion-icon>
                </ion-button>
              </ion-col>

              <!-- Información del evento -->
              <ion-col size="9">
                <ion-card-header class="p-0">
                  <ion-badge color="warning" style="font-weight: 300;" class="text-center">{{ event.sede }}</ion-badge>
                  <ion-card-title style="font-weight: 500; font-size:medium">
                    {{ event.titulo.length > 58 ? (event.titulo.substring(0, 55) + '...') : event.titulo }}
                  </ion-card-title>
                </ion-card-header>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-card-content class="p-0 pt-1">
                  <ion-badge color="medium" style="font-weight: 300;" class="text-center ion-badge-custom">{{ event.estado }}</ion-badge>



                  <!-- Estado de verificación -->
                  <div class="text-center mt-3" *ngIf="event.estaInscrito">
                    <ion-badge color="success" class="ion-badge-custom" *ngIf="event.estaInscrito && event.verificado">¡Estás verificado en este evento!</ion-badge>
                    <ion-badge color="danger" class="ion-badge-custom" *ngIf="event.estaInscrito && !event.verificado">No has verificado tu asistencia al evento.</ion-badge>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensaje si no hay eventos finalizados -->
  <div *ngIf="eventsTerminados.length === 0" class="ion-padding text-center">
    <p>No hay eventos terminados.</p>
  </div>



  <!--Contacto-->
  <div>
    <img src="../../assets/svg/layered-waves-haikei-reverse.svg" alt="Logo Duoc" style="padding:0; margin:0; width:100%;">

    <div style="text-align:center; background:#0a49a8; outline:3px solid #0a49a8;">

      <div style="padding: 1rem 0 3rem 0; color: #fff;">
        <p class="p-0 m-0">Síguenos en nuestras redes sociales:</p>

        <ion-grid class="w-75">
          <ion-row class="ion-justify-content-evenly p-0 my-2">
            <ion-col>
              <div><a href="https://www.facebook.com/DuocUC" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-facebook"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.instagram.com/duocuc_cl" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-instagram"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://x.com/duocuc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-x"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.youtube.com/DuocUCvideos" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-youtube"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.flickr.com/photos/duocuc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-flickr"></ion-icon></a></div>
            </ion-col>
            <ion-col>
              <div><a href="https://www.linkedin.com/school/duoc-uc" target="_blank" rel="noopener noreferrer" class="social-icon"><ion-icon name="logo-linkedin"></ion-icon></a></div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p style="padding:0; margin:0;">&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
      </div>

    </div>

  </div>

</ion-content>

<app-tab-usuario></app-tab-usuario>
