<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-title style="color: white">PuntoDuoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <!-- Barra de búsqueda y botón de filtros -->
  <div class="search-container">
    <!-- Barra de búsqueda -->
    <ion-searchbar
      style="--background: white; --color: #000000;"
      animated="true"
      placeholder="Buscar eventos"
      [(ngModel)]="searchText"
      (ionInput)="filterEvents()"
      class="custom-searchbar">
    </ion-searchbar>

    <!-- Botón de filtro con solo el icono -->
    <ion-button class="filter-button" (click)="openSedeSelect()" style="color: black;">
      <ion-icon name="options-outline"></ion-icon>
    </ion-button>

    <!-- Ion-select oculto que se activa al hacer clic en el botón -->
    <ion-select #sedeSelect class="hidden-select" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Seleccionar Sede" [(ngModel)]="selectedSede" (ionChange)="filterEvents()">
      <ion-select-option value="all">Todas las sedes</ion-select-option>
      <ion-select-option value="Duoc Alameda">Duoc Alameda</ion-select-option>
      <ion-select-option value="Duoc Antonio Varas">Duoc Antonio Varas</ion-select-option>
      <ion-select-option value="Duoc Maipú">Duoc Maipú</ion-select-option>
      <ion-select-option value="Duoc Plaza Oeste">Duoc Plaza Oeste</ion-select-option>
      <ion-select-option value="Duoc Puente Alto">Duoc Puente Alto</ion-select-option>
      <ion-select-option value="Duoc San Bernardo">Duoc San Bernardo</ion-select-option>
      <ion-select-option value="Duoc San Joaquín">Duoc San Joaquín</ion-select-option>
      <ion-select-option value="Duoc Plaza Vespucio">Duoc Plaza Vespucio</ion-select-option>
      <ion-select-option value="Duoc Viña del Mar">Duoc Viña del Mar</ion-select-option>
      <ion-select-option value="Duoc Valparaíso">Duoc Valparaíso</ion-select-option>
      <ion-select-option value="Duoc Melipilla">Duoc Melipilla</ion-select-option>
      <ion-select-option value="Duoc Renca">Duoc Renca</ion-select-option>
      <ion-select-option value="Duoc Padre Alonso de Ovalle">Duoc Padre Alonso de Ovalle</ion-select-option>
      <ion-select-option value="Duoc Concepción">Duoc Concepción</ion-select-option>
      <ion-select-option value="Duoc San Andrés de Concepción">Duoc San Andrés de Concepción</ion-select-option>
      <ion-select-option value="Duoc Villarrica">Duoc Villarrica</ion-select-option>
    </ion-select>
  </div>

  <!-- Cargando -->
  <div *ngIf="loading" class="ion-padding" style="text-align: center;">
    <ion-spinner name="crescent" style="color: #0A49A7;"></ion-spinner>
    <p style="color: #0A49A7;">Cargando...</p>
  </div>

  <!-- Listado de eventos filtrados -->
  <ion-grid *ngIf="!loading && filteredEvents.length > 0">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let event of filteredEvents">
        <ion-card class="event-card">
          <img alt="Imagen del evento" [src]="event.imagen" class="event-image" />
          <ion-card-header>
            <ion-card-title (click)="toggleDescription(event)" class="centered-text" style="color: #0A49A7;">
              {{ event.titulo }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="centered-content">
            <p *ngIf="event.show" style="color: #0A49A7;">{{ event.descripcion }}</p>
            <p style="color: #0A49A7;">Cupos disponibles: {{ event.Cupos }}</p>

            <p *ngIf="event.estaInscrito" class="inscrito-text" style="color: #0A49A7;">
              ¡Ya estás inscrito en este evento!
            </p>
            <p *ngIf="event.enListaEspera" class="en-lista-espera-text" style="color: #0A49A7;">
              ¡Ya estás en la lista de espera!
            </p>
            <p *ngIf="event.Cupos === 0 && !event.enListaEspera" class="lleno-text" style="color: #0A49A7;">
              Este evento está lleno. Puedes unirte a la lista de espera.
            </p>

            <!-- Botón de inscripción o cancelación -->
            <ion-button
              [color]="event.estaInscrito ? 'danger' : event.Cupos === 0 ? 'primary' : 'primary'"
              (click)="
                event.estaInscrito
                  ? handleEventButtonClick(event)
                  : event.Cupos === 0 && !event.enListaEspera
                  ? presentWaitListAlert(event)
                  : presentAlert(event)"
              expand="block"
              style="--background: #0A49A7; --color: white;">
              {{
                event.estaInscrito
                  ? 'Cancelar inscripción'
                  : event.Cupos === 0 && !event.enListaEspera
                  ? 'Unirse a lista de espera'
                  : 'Inscribirse'
              }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer collapse="fade" class="footer">
    <p>Síguenos en nuestras redes sociales:</p>
    <div class="social-icons">
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
      <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
    </div>
    <p>&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
  </ion-footer>
</ion-content>

<app-tab-usuario></app-tab-usuario>
