/* Contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  width: 100%;
}

/* Barra de búsqueda */
ion-searchbar {
  flex-grow: 1;
  margin-right: 10px; /* Margen a la derecha para separar del botón de filtro */
}

/* Estilo del botón de filtro */
.filter-button {
  margin-left: 10px;
}

/* Contenedor de filtros (se expande debajo de la barra de búsqueda) */
.filter-container {
  width: 100%; /* Ancho completo */
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0; /* Oculto inicialmente */
  margin-top: 10px; /* Separación superior con la barra de búsqueda */
}

.filter-container.expanded {
  max-height: 400px; /* Ajusta la altura para mostrar los filtros */
  margin-bottom: 20px; /* Margen inferior para espacio */
}

/* Ajuste de centrado para el contenido */
ion-grid, ion-row {
  justify-content: center;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-card {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar las cards */
}

/* Ajuste de las imágenes dentro de las cards */
.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Se ajusta para que la imagen no sobresalga */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Textos y contenidos centrados */
.centered-text,
.centered-content {
  text-align: center;
}

/* Estilo para texto de inscripción */
.inscrito-text {
  color: #10dc60;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 768px) {
  .event-card {
    width: 90%; /* Ajuste de tamaño en pantallas pequeñas */
  }

  .filter-container.expanded {
    max-height: 500px; /* Mayor altura en pantallas pequeñas */
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .event-card {
    width: 80%; /* Ajuste para pantallas medianas */
  }
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Asegura que la pantalla de carga esté encima de otros elementos
}
