<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-usuario" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:  white">Enviar Consulta</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/notifications']" style="position: relative;">
        <ion-icon slot="icon-only" name="notifications-outline" style="color: white;"></ion-icon>
        <!-- Badge para mostrar el número de notificaciones -->
        <ion-badge *ngIf="unreadNotificationsCount > 0" color="danger" style="position: absolute; top: -5px; right: -5px;">
          {{ unreadNotificationsCount }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content-center">
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-card-title style="color: black;">Consulta, Reclamo o Sugerencia</ion-card-title>
    </ion-card-header>

    <ion-card-content  >
      <form  (submit)="enviarConsulta()">
        <ion-item  style="--background: transparent;">
          <ion-label style="color: black;">Motivo</ion-label>
          <ion-select style="color: black;" [(ngModel)]="consulta.motivo" name="motivo" required>
            <ion-select-option value="consulta" >Consulta</ion-select-option>
            <ion-select-option value="reclamo" >Reclamo</ion-select-option>
            <ion-select-option value="sugerencia" >Sugerencia</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item style="--background: transparent;">
          <ion-label position="floating" style="color: black;">Mensaje</ion-label>
          <ion-textarea style="color: black;" [(ngModel)]="consulta.mensaje" name="mensaje" required></ion-textarea>
        </ion-item>

        <ion-button expand="full" type="submit">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tab-usuario></app-tab-usuario>
