
<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inicio" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button size="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:  white">Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="errorMessage" class="error-card">
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>

  <div class="form-container" style="max-width: 380px; margin: auto; padding: 25px; background-color: white; border-radius: 20px;">
    <h1 class="center" style="color: #0A49A7; text-align: center;">Información personal</h1>
    <div class="profile-icon-container">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </div>

    <form *ngIf="estudiante || invitado">
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Nombre Completo</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Nombre_completo : invitado?.Nombre_completo }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempNombreCompleto" [placeholder]="estudiante ? estudiante.Nombre_completo : invitado?.Nombre_completo"></ion-input>
          </ion-label>
        </ion-item>
      </div>
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Correo Electrónico</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.email : invitado?.email }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempEmail" [placeholder]="estudiante ? estudiante.email : invitado?.email"></ion-input>
          </ion-label>
        </ion-item>
      </div>
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">RUT</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Rut : invitado?.Rut }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempRut" [placeholder]="estudiante ? estudiante.Rut : invitado?.Rut"></ion-input>
          </ion-label>
        </ion-item>
      </div>
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Teléfono</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Telefono : invitado?.Telefono }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempTelefono" [placeholder]="estudiante ? estudiante.Telefono : invitado?.Telefono"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <div class="mb-3 position-relative" *ngIf="estudiante">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Puntaje</h2>
            <p>{{ estudiante.puntaje }}</p>
          </ion-label>
        </ion-item>
      </div>

      <div class="qr-container" *ngIf="(estudiante && estudiante.codigoQr) || (invitado && invitado.codigoQr)">
        <h1 style="color: black;">Código QR</h1>
        <div class="qr-image-container">
          <img [src]="estudiante?.codigoQr || invitado?.codigoQr" alt="Código QR" class="qr-image" />
        </div>
      </div>

      <div class="button-container">
        <ion-button class="button-inline" *ngIf="!isEditing" (click)="editProfile()">Editar Perfil</ion-button>
        <ion-button class="button-inline" color="success" *ngIf="isEditing" (click)="saveProfile()">Guardar Cambios</ion-button>
        <ion-button class="button-inline" color="danger" *ngIf="isEditing" (click)="cancelEdit()">Cancelar</ion-button>
        <ion-button class="button-inline" color="danger" (click)="confirmLogout()" *ngIf="!isEditing">Cerrar Sesión</ion-button>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer collapse="fade" class="footer">
  <p>Síguenos en nuestras redes sociales:</p>
  <div class="social-icons">
    <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
    <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
    <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
  </div>
  <p>&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
</ion-footer>
