<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-title style="color: white;">Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="errorMessage" class="error-card">
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Información personal -->
  <div class="form-container" style="max-width: 380px; margin: auto; padding: 25px; background-color: white; border-radius: 20px;">
    <div class="header-container">
      <h1 class="center">Información personal</h1>
      <div class="icon-container">
        <ion-icon *ngIf="!isEditing" name="create-outline" (click)="editProfile()"></ion-icon>
        <ion-icon *ngIf="isEditing" name="checkmark-outline" (click)="saveProfile()"></ion-icon>
        <ion-icon *ngIf="isEditing" name="close-outline" (click)="cancelEdit()"></ion-icon>
      </div>
    </div>
    <form *ngIf="estudiante || invitado">
      <!-- Nombre Completo -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Nombre Completo</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Nombre_completo : invitado?.Nombre_completo }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempNombreCompleto" name="nombreCompleto" [placeholder]="estudiante ? estudiante.Nombre_completo : invitado?.Nombre_completo" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <!-- Correo Electrónico -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Correo Electrónico</h2>
            <p>{{ estudiante ? estudiante.email : invitado?.email }}</p> <!-- Siempre muestra el correo como texto -->
          </ion-label>
        </ion-item>
      </div>

      <!-- RUT -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">RUT</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Rut : invitado?.Rut }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempRut" name="rut" [placeholder]="estudiante ? estudiante.Rut : invitado?.Rut" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <!-- Teléfono -->
      <div class="mb-3 position-relative">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Teléfono</h2>
            <p *ngIf="!isEditing">{{ estudiante ? estudiante.Telefono : invitado?.Telefono }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempTelefono" name="telefono" [placeholder]="estudiante ? estudiante.Telefono : invitado?.Telefono" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>
      <div class="mb-3 position-relative" *ngIf="estudiante">
        <ion-item class="custom-item">
          <ion-label>
            <h2 style="color: black;">Puntaje</h2>
            <p>{{ estudiante.puntaje }}</p> <!-- Muestra el puntaje como texto sin opción de edición -->
          </ion-label>
        </ion-item>
      </div>
      <div class="qr-container" *ngIf="(estudiante && estudiante.codigoQr) || (invitado && invitado.codigoQr)">
        <h1 style="color: black; text-align: center;">Código QR</h1>
        <div class="qr-image-container">
          <img [src]="estudiante?.codigoQr || invitado?.codigoQr" alt="Código QR" class="qr-image" />
        </div>
      </div>
    </form>
  </div>

  <!-- Espacio entre Información personal y la lista -->
  <div class="spacer"></div>

  <!-- Lista de opciones adicionales -->
  <ion-list class="custom-list">
    <ion-item button class="custom-item2" (click)="irAConsultas()">
      <ion-icon style="color: black;" slot="start" name="chatbubbles-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
      <ion-icon style="color: black;" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item button class="custom-item2" (click)="confirmLogout()">
      <ion-icon style="color: black;" slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
      <ion-icon style="color: black;" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Footer -->
  <ion-footer collapse="fade" class="footer">
    <p>Síguenos en nuestras redes sociales:</p>
    <div class="social-icons">
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
      <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
    </div>
    <p>&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
  </ion-footer>
</ion-content>
<app-tab-usuario></app-tab-usuario>
