.custom-header {
  position: relative;
  z-index: 10;
}

.custom-toolbar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: black;
  --background: transparent;
}

.custom-toolbar ion-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Borde inferior curvo del header */
.custom-header::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* Ajustes del contenido centrado */
.content-center {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Tarjeta de invitación */
.invita-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #ffffff;
  text-align: center;
}

.card-header {
  text-align: center;
}

.card-header ion-card-title,
.card-header ion-card-subtitle {
  text-align: center;
}

.puntos-acumulados h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #0A49A7;
  text-align: center;
}

.puntaje {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0A49A7;
  margin: 5px 0;
  text-align: center;
}

ion-progress-bar {
  --progress-background: #e0e0e0;
  --progress-bar-background: #0A49A7;
  margin-top: 10px;
  border-radius: 5px;
}

/* Estilo para la tarjeta de invitación con imagen */
.invita-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.invita-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre la imagen y el botón */
}

.invita-image {
  width: 40px;
  margin-right: 10px;
}

/* Estilo para el botón de invitación */
ion-button {
  --border-radius: 10px;
  width: 300px; /* Ajuste de ancho para el botón */
  font-size: 14px;
}

/* Estilo de términos y condiciones como ion-item */
.custom-item-terminos {
  --background: white;
  --border-width: 0px;
  --inner-border-width: 0px;
}

.custom-item-terminos ion-label a {
  color: black;
  text-decoration: none;
}
/* Estilo para los iconos de redes sociales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}

.social-icon {
  font-size: 24px;
  color: #0A49A7;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Pie de página */
.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #0A49A7;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}
