<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder-ventas" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Subir recompensa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <form style="background-color: white;" [formGroup]="recompensaForm" (ngSubmit)="onSubmit()">
    <ion-card style="background-color: white;">
      <ion-card-header>
        <ion-card-title style="color: black;">Información de la Recompensa</ion-card-title>
      </ion-card-header>
            <!-- Mostrar la vista previa de la imagen -->
            <div *ngIf="imagePreview" class="image-preview-container">
              <img [src]="imagePreview" alt="Vista previa de la imagen" />
            </div>
      <ion-item style="--background: transparent;">
        <ion-label style="color: black;" position="floating">Subir Imagen</ion-label>
        <input
          type="file"
          (change)="onImageChange($event)"
          accept="image/*"
          style="margin-top: 20px;"
        />
      </ion-item>
      <ion-card-content style="--background: transparent;">
        <!-- Descripción -->
        <ion-item style="--background: transparent;">
          <ion-label style="color: black;" position="floating">Descripción</ion-label>
          <ion-input style="color: black;" formControlName="descripcion"></ion-input>
        </ion-item>

        <!-- Cantidad -->
        <ion-item style="--background: transparent;">
          <ion-label style="color: black;" position="floating">Cantidad</ion-label>
          <ion-input style="color: black;" type="number" formControlName="cantidad"></ion-input>
        </ion-item>

        <!-- Puntos Requeridos -->
        <ion-item style="--background: transparent;">
          <ion-label style="color: black;" position="floating">Puntos Requeridos</ion-label>
          <ion-input style="color: black;" type="number" formControlName="puntos_requeridos"></ion-input>
        </ion-item>


        <ion-button shape="round" expand="full" type="submit" color="primary">Subir Recompensa</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<app-tab-bar></app-tab-bar>
