.custom-header {
  --background: var(--ion-color-primary);
  --color: white;
}

.ion-padding {
  padding: 20px;
}

ion-card {
  margin: 20px;
}

.submit-button {
  margin-top: 20px;
  font-weight: bold;
}
