<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <!--Ícono misiones-->
      <ion-button (click)="openMissionsModal()">
        <ion-icon slot="icon-only" name="ribbon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-title-custom">Tus estadísticas</ion-title>

    <ion-buttons slot="primary">
        <!--Ícono notificaciones-->
        <ion-button [routerLink]="['/notifications']" class="w-auto">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          <!--Badge nro notificaciones-->
          <ion-badge *ngIf="unreadNotificationsCount > 0" color="danger">{{ unreadNotificationsCount }}</ion-badge><!--style="position: absolute; top: -5px; right: -5px;"-->
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Gráfico de Puntaje Acumulado -->
  <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title style="color: black; font-weight:400">Puntaje acumulado</ion-card-title>
     </ion-card-header>
    <ion-card-content>
      <canvas #puntajeChart></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de Misiones Completadas -->
  <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title style="color: black; font-weight:400">Misiones Completadas</ion-card-title>
     </ion-card-header>
    <ion-card-content>
      <canvas #misionesChart></canvas>
    </ion-card-content>
  </ion-card>

   <!-- Gráfico de Promedio Mensual -->
  <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title style="color: black; font-weight:400">Promedio Mensual de Puntaje</ion-card-title>
     </ion-card-header>
    <ion-card-content>
      <canvas #promedioMensualChart></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de Eventos por Categoría -->
   <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title style="color: black; font-weight:400">Eventos Inscritos por Categoría</ion-card-title>
     </ion-card-header>
    <ion-card-content>
      <canvas #eventosPorCategoriaChart></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de Porcentaje de Verificación -->
  <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title style="color: black; font-weight:400">Porcentaje de Verificación en Eventos</ion-card-title>
     </ion-card-header>
    <ion-card-content>
      <canvas #porcentajeVerificacionChart></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>

<app-tab-usuario></app-tab-usuario>
