<ion-app style="--background: tan;">
  <ion-split-pane contentId="main-content">
    <!-- Elimina el estilo en línea de --background y usa solo el color azul desde el CSS -->
    <ion-menu side="end" contentId="main-content" type="overlay">
      <ion-content style="--background: #0A49A7;">
          <ion-list-header style="--background: #0A49A7;">PuntoDuoc</ion-list-header>
          <ion-menu-toggle style="--background: #0A49A7;" auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item style="--background: #0A49A7;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon  aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label >{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"style="--background: #0A49A7;"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
