<ion-content class="ion-padding">
  <!-- Título del evento -->
  <h1 class="ion-text-center">Detalles del Evento</h1>

  <!-- Tarjeta para mostrar los detalles del evento -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escanear Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Botón para escanear el código QR -->
      <ion-button expand="block" color="primary" (click)="verificarInscripcion()">Escanear QR</ion-button>

      <!-- Mensaje de escaneo en proceso -->
      <ion-spinner *ngIf="escaneando" name="crescent"></ion-spinner>

      <!-- Mensaje de verificación tras el escaneo -->
      <p *ngIf="mensajePresencia" [ngClass]="{'verificado': esVerificado, 'no-verificado': !esVerificado}">
        {{ mensajePresencia }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
