
  /* Estilo para el mensaje cuando el usuario está verificado */
  .verificado {
    color: green;
    font-weight: bold;
  }

  /* Estilo para el mensaje cuando el usuario no está verificado */
  .no-verificado {
    color: red;
    font-weight: bold;
  }
