.custom-header {
  position: relative;
  z-index: 10;
}

.custom-toolbar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: black;
  --background: transparent;
}

.custom-toolbar ion-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.custom-header::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

ion-card-content ion-list {
  --background: white;
}

ion-item {
  --background: white;
  color: black;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Centrado de contenido */
.content-center {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Estilos para listas de usuarios en paralelo */
.users-lists-container {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;

  ion-card {
    flex: 1;
  }
}

/* Estilos adicionales para alerta */
.swal-popup {
  background-color: white !important;
  color: black !important;
  border-radius: 12px;
  padding: 20px !important;
}

.swal-title {
  color: #333 !important;
  font-size: 24px !important;
}

.swal-confirm-button {
  background-color: #4CAF50 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
}
.custom-card {
  background-color: #f2f2f2;
  color: #007aff;
  box-shadow: none;
  margin: 10px 5px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-card ion-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.3vh;
}

.custom-card ion-icon {
  font-size: 2rem;
  color: inherit; /* Usa el color de la tarjeta */
}

.custom-card ion-label {
  font-size: 1rem;
  font-weight: 500;
  color: #007aff; /* Color azul para el texto */
}
.white-background-card {
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
}

.white-background-card ion-card-title,
.white-background-card ion-label {
  color: black; /* Asegurar que el título y las etiquetas sean negras */
}
.listas-paralelas {
  margin-top: 1em;
}

.listas-paralelas ion-card {
  background-color: white;
}

.listas-paralelas ion-label {
  color: black;
}

.listas-paralelas ion-icon {
  color: green;
  font-size: 1.2em;
}

