<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder-ventas" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:  white">Centro de ayuda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content-center">
  <!-- Resumen de Ventas y Recompensas -->
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-card-title style="color: black;">Resumen de Ventas y Recompensas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="color: black;">Total de ventas: {{ totalVentas }}</p>
      <p style="color: black;">Recompensas entregadas: {{ recompensasEntregadas }}</p>
      <p style="color: black;">Recompensas pendientes: {{ recompensasPendientes }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Recompensas Más Populares -->
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-card-title style="color: black;">Top Recompensas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list style="background-color: white;">
        <ion-item style="--background: transparent; --border-width: 0px; --inner-border-width: 0px;" *ngFor="let recompensa of topRecompensas">
          <ion-label style="color: black;">{{ recompensa.descripcion }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Estudiantes Activos -->
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-card-title style="color: black;">Estudiantes Activos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list style="background-color: white;">
        <ion-item style="--background: transparent; --border-width: 0px; --inner-border-width: 0px;" *ngFor="let estudiante of topEstudiantes">
          <ion-label style="color: black;">{{ estudiante.nombre_completo }} - {{ estudiante.total }} recompensas reclamadas</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de actividad de recompensas -->
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-card-title style="color: black;">Actividad de Recompensas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="actividadRecompensasChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-tab-bar></app-tab-bar>
