<ion-header>
  <ion-toolbar style="background-color: black;">
    <ion-title style="color: #666;font-size: 1.5rem; font-weight: 600;">Punto Estudiantil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #f9f9f9; padding: 16px;">


  <ion-grid>
    <ion-row>
      <!-- Escanear y Validar QR -->
      <ion-col size="6" class="ion-text-center">
        <ion-card (click)="startScan()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(0,122,255,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="qr-code-outline" color="primary" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Escanear Código QR</p>
        </ion-card>
      </ion-col>

      <!-- Subir Recompensa -->
      <ion-col size="6" class="ion-text-center">
        <ion-card (click)="subirRecompensa()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(0,122,255,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="cloud-upload-outline" color="tertiary" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Subir Recompensa</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Listar Recompensas -->
      <ion-col size="6" class="ion-text-center">
        <ion-card  (click)="verRecompensas()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(255,204,0,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="list-outline" color="warning" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Listar Recompensas</p>
        </ion-card>
      </ion-col>

      <!-- Recompensas Reclamadas -->
      <ion-col size="6" class="ion-text-center">
        <ion-card (click)="verRecompensasReclamadas()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(76,175,80,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="checkmark-done-outline" color="success" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Recompensas Reclamadas</p>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card (click)="verDashboard()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(76,175,80,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="analytics-outline" color="success" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Dashboards</p>
        </ion-card>
      </ion-col>
       <!-- Gestor de Recompensas -->
      <ion-col size="6" class="ion-text-center">
        <ion-card (click)="gestionarRecompensas()" style="border-radius: 12px; padding: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div style="background: rgba(100,149,237,0.2); border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
            <ion-icon name="settings-outline" color="tertiary" style="font-size: 2rem;"></ion-icon>
          </div>
          <p style="margin-top: 8px; font-size: 1rem; font-weight: 500; color: black;">Gestor de Recompensas</p>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<app-tab-bar></app-tab-bar>
