.user-info {
  text-align: center;
}

.user-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.insights {
  margin-top: 20px;
}

.insight-icon {
  font-size: 36px;
  color: var(--ion-color-primary);
}

ion-card {
  text-align: center;
}
