<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inicio" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="logoutt()">
        <ion-icon style="color:  white" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:  white">PuntoDuoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <ion-button expand="block" (click)="subirRecompensa()">
    Subir Recompensa
  </ion-button>

  <ion-button expand="block" (click)="verRecompensas()">
    Ver Recompensas
  </ion-button>

  <ion-button expand="block" (click)="startScan()">
    Escanear QR
  </ion-button>
</ion-content>
<app-tab-bar></app-tab-bar>
