/* ver-recompensas.component.scss */

/* Ajustes de las tarjetas */
.event-card {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Estilo del mensaje de error */
.error-card {
  --background: #f8d7da;
}