<ion-header>
  <ion-toolbar>
    <ion-title>Ver Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recompensas.length > 0; else noRecompensasTemplate">
  <ion-list>
    <ion-item *ngFor="let recompensa of recompensas">
      <ion-label>
        <h2>{{ recompensa.descripcion }}</h2>
        <p>Puntos requeridos: {{ recompensa.puntos_requeridos }}</p>
      </ion-label>

      <!-- Botón para generar el QR -->
      <ion-button *ngIf="hasReclamado(recompensa)" (click)="generarQR(recompensa)">
        Generar QR
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Mostrar el QR Code generado -->
  <ion-card *ngIf="qrCodeImage">
    <img [src]="qrCodeImage" alt="QR Code">
  </ion-card>
</ion-content>

<ng-template #noRecompensasTemplate>
  <ion-item>
    <ion-label>No hay recompensas disponibles</ion-label>
  </ion-item>
</ng-template>
