

<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-title style="color:  white">Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">

  <app-ver-recompensas></app-ver-recompensas>

<ion-footer collapse="fade" class="footer">
  <p>Síguenos en nuestras redes sociales:</p>
  <div class="social-icons">
    <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
    <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
    <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
  </div>
  <p>&copy; 2024 Punto Duoc. Todos los derechos reservados.</p>
</ion-footer>
</ion-content>
<app-tab-usuario></app-tab-usuario>

