<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar" style="background-color: black;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inicio" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:  white">Centro de ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <ion-list style="background-color: white;">
    <!-- Mostrar un mensaje si no hay notificaciones -->
    <ion-item  style="--background: transparent;"*ngIf="currentNotifications.length === 0">
      <ion-label style="background-color: white;">
        <p style="color: black;">No hay notificaciones recientes.</p>
      </ion-label>
    </ion-item>

    <!-- Mostrar la lista de notificaciones -->
    <ion-item style="--background: transparent;" *ngFor="let notification of currentNotifications">
      <ion-label style="background-color: white;">
        <h2 style="color: black;">{{ notification.notification?.title || notification.data?.title || 'Sin título' }}</h2>
        <p style="color: black;">{{ notification.notification?.body || notification.data?.body || 'Sin contenido' }}</p>
        <small style="color: black;">{{ notification.timeReceived | date: 'short' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

