.custom-header {
  position: relative;
  z-index: 10; /* Asegura que el header esté siempre al frente */
}

.custom-toolbar {
  height: 120px; /* Aumenta la altura del toolbar */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-bottom-left-radius: 50px; /* Bordes redondeados */
  border-bottom-right-radius: 50px;
  background-color: black;
  --background: transparent;
}

.custom-toolbar ion-title {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Texto en blanco */
  text-align: center;
}

/* Para crear una curva en el borde inferior */
.custom-header::after {
  position: absolute;
  bottom: -30px; /* Ajusta la altura de la curva */
  left: 0;
  width: 100%;
  height: 60px; /* Altura de la curva */
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}


/* Ajustes del contenido */
.content-center {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la pantalla */
}
.event-item {
  margin-bottom: 1rem;
}

.event-thumbnail {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-segment {
  margin: 1rem;
  background-color: white; /* Fondo blanco para todo el segmento */
  border-radius: 8px;
  padding: 0.5rem;

}

ion-segment-button {
  font-weight: bold;
  color: #808080; /* Color del texto plomo para las opciones no seleccionadas */
  border: none; /* Sin borde para las opciones no seleccionadas */
  background-color: transparent; /* Fondo transparente */
}

ion-segment-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent; /* Línea inferior transparente */
  transition: background-color 0.3s;
}

ion-segment-button[checked] {
  color: black; /* Texto negro para la opción seleccionada */
  background-color: transparent; /* Fondo transparente */
}

ion-segment-button[checked]::after {
  background-color: black; /* Línea negra para la opción seleccionada */
}

.event-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d3d3d3; /* Borde sutil para destacar la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más prominente */
  transition: transform 0.2s, box-shadow 0.2s; /* Efecto de transición al pasar el mouse */
}
.event-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
}

.event-card-header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: white;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.event-date,
.event-location {
  font-size: 0.9rem;
}

.event-stat {
  text-align: center;
}

.event-stat-value {
  font-weight: bold;
  font-size: 1.2rem;
}

.event-stat-label {
  font-size: 0.8rem;
}

.button-row {
  margin-top: 1rem;
  text-align: center;
}

.button-label {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  text-align: center;
}

/* Estilos para los íconos de los botones */
ion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ion-button[disabled] {
  opacity: 0.5; /* Reduce la opacidad para que se vea deshabilitado */
  cursor: not-allowed; /* Cambia el cursor al pasar sobre el botón */
}
