
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  min-width: 80px; /* Ajuste de tamaño mínimo */
  height: 35px;
  padding: 0 8px; /* Compacta el espacio interno */
  font-size: 13px;
  font-weight: 500;
  --ripple-color: #ffffff;
}
.custom-button ion-icon {
  margin-right: 4px; /* Reduce el espacio entre icono y texto */
  font-size: 18px;
}

.custom-button ion-label {
  font-size: 13px;
  font-weight: 500;
  color: white;
}

ion-button[color="success"].custom-button {
  --background: #28a745;
}

ion-button[color="danger"].custom-button {
  --background: #dc3545;
}


.details-button {
  --background: #007bff;
  color: white;
}

/* Ajustes de los ítems de la lista */
.event-item {
  --background: white;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.event-item ion-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  flex-grow: 1;
}

.event-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.button-container {
  display: flex;
  gap: 4px; /* Reduce el espacio entre botones aún más */
  justify-content: flex-start; /* Alinea los botones al principio */
  align-items: center;
  margin-top: 8px; /* Reduce el espacio superior entre el texto y los botones */
}
.custom-header {
  position: relative;
  z-index: 10; /* Asegura que el header esté siempre al frente */
}

.custom-toolbar {
  height: 120px; /* Aumenta la altura del toolbar */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-bottom-left-radius: 50px; /* Bordes redondeados */
  border-bottom-right-radius: 50px;
  background-color: black;
  --background: transparent;
}

.custom-toolbar ion-title {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Texto en blanco */
  text-align: center;
}

/* Para crear una curva en el borde inferior */
.custom-header::after {
  position: absolute;
  bottom: -30px; /* Ajusta la altura de la curva */
  left: 0;
  width: 100%;
  height: 60px; /* Altura de la curva */
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}


/* Ajustes del contenido */
.content-center {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la pantalla */
}
